.navContainer {
  position: relative;
}

.modeChangerWrapper {
  position: absolute;
  display: flex;
  background-color: var(--accent-color);
  z-index: 10;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
}